<?php

return array(
    /* Database related  variables */
    'DB_NAME'  => 'database_name', 
    'DB_USER'  => 'user', 
    'DB_PASS'  => 'supersecret', 

    /* General app related variables */
    'APP_URL'        => 'www.example.com', 
    'APP_SECRET_KEY' => 'your-32-character-secret-key-here', 

    /* SMTP and mail settings */
    'SMTP_HOST'    => 'smtp.example.com', 
    'SMTP_PORT'    => 587, 
    'SMTP_USER'    => 'hello@example.com', 
    'SMTP_PASS'    => 'supersecret', 
    'DEFAULT_FROM' => array('address'   => 'hello@example.com', 
                            'name'      => 'Example site'),
    
    /* Google Analytics and event tracking */
    'GOOGLE_TRACKING_CODE' => 'UA-XXXXXXXX-XX',

    /* Intercom IO tracking app ID */
    'INTERCOM_APP_ID'  => 'a1b2c3d4',
    'INTERCOM_API_KEY' => 'your-intercom-api-secret-key-here',

    /* Mixpanel token */
    'MIXPANEL_TOKEN' => 'your-mixpanel-token-here',

    /* Stripe Oauth connection */
    'STRIPE_CONNECT_URI'      => 'https://connect.stripe.com/oauth/authorize',
    'STRIPE_ACCESS_TOKEN_URI' => 'https://connect.stripe.com/oauth/token',
    'STRIPE_SECRET_KEY'       => 'your-stripe-api-secret-key',
    'STRIPE_CLIENT_ID'        => 'your-stripe-client-ID',

    /* THE CODE BELOW NEEDS CLEANUP */
    // helpers
    'MAX_FREE_CONNECTIONS'      => '', 
    
    // google stuff
    'GOOGLE_CLIENTID'           => '', 
    'GOOGLE_CLIENTSECRET'       => '', 
    'GOOGLE_REDIRECTURL'        => '', 

    // braintree stuff
    'BRAINTREE_ENVIRONMENT'     => '', 
    'BRAINTREE_MERCH_ID'        => '', 
    'BRAINTREE_PUBLIC_KEY'      => '', 
    'BRAINTREE_PRIVATE_KEY'     => '', 
    'BRAINTREE_CLIENTSIDE_KEY'  => '', 
);