<?php

return array(
    /* Database related  variables */
    'DB_NAME'  => '', 
    'DB_USER'  => '', 
    'DB_PASS'  => '', 

    /* General app related variables */
    'APP_URL'        => '', 
    'APP_SECRET_KEY' => '', 

    /* SMTP and mail settings */
    'SMTP_HOST'    => '', 
    'SMTP_PORT'    => '', 
    'SMTP_USER'    => '', 
    'SMTP_PASS'    => '', 
    'DEFAULT_FROM' => array('address'   => '', 
                            'name'      => ''),
                            
    /* THE CODE BELOW NEEDS CLEANUP */
    // helpers
    'TRIAL_ENDS_IN_X_DAYS'      => '', 
    'MAX_FREE_CONNECTIONS'      => '', 
    
    // stripe stuff
    'STRIPE_SECRET_KEY'         => '', 
    'STRIPE_CLIENT_ID'          => '', 
    'STRIPE_REDIRECT_URI'       => '', 

    // google stuff
    'GOOGLE_CLIENTID'           => '', 
    'GOOGLE_CLIENTSECRET'       => '', 
    'GOOGLE_REDIRECTURL'        => '', 

    // braintree stuff
    'BRAINTREE_ENVIRONMENT'     => '', 
    'BRAINTREE_MERCH_ID'        => '', 
    'BRAINTREE_PUBLIC_KEY'      => '', 
    'BRAINTREE_PRIVATE_KEY'     => '', 
    'BRAINTREE_CLIENTSIDE_KEY'  => '', 
);