<?php

return array(
       
	// stripe stuff
    'STRIPE_SECRET_KEY' 		=> '',
    'STRIPE_CLIENT_ID' 			=> '',
    'STRIPE_REDIRECT_URI'		=> 'http://localhost:8001/connect/stripe',

    // braintree stuff
    'BRAINTREE_ENVIRONMENT'		=> '',
    'BRAINTREE_MERCH_ID'		=> '',
    'BRAINTREE_PUBLIC_KEY' 		=> '',
    'BRAINTREE_PRIVATE_KEY'		=> '',
    'BRAINTREE_CLIENTSIDE_KEY' 	=> '',

    // google stuff
    'GOOGLE_CLIENTID'           => '',
    'GOOGLE_CLIENTSECRET'       => '',
    'GOOGLE_REDIRECTURL'        => 'http://localhost:8001/connect/googlespreadsheet',

);