// VARIABLES

@alpha:                     85%;
@darken:                    25%;
@white:                     #fff;
@panel-bg:                  #fff;
@gridster-bg:               #E6E6E6;
@margin:                    25px;
@carousel-control-width:    9.5%;

// IMPORTS
@import "custom-positioning.less";
@import "custom-design.less";
@import "custom-panels.less";
@import "custom-gridster-and-widgets.less";
@import "custom-quote.less";
@import "custom-signup-wizard.less";
@import "custom-ribbon.less";
@import "custom-dashboard.less";