// GENERAL ALIGNMENT

.vertical-center {
  min-height: 100%;  /* Fallback */
  min-height: 100vh;
  display: flex;
  align-items: center;
}


// PANELS
@alpha:           85%;
@darken:          25%;
@panel-bg:        #fff;

.panel-transparent {
  background: none;
}

.panel-transparent .panel-heading {
  background: darken(@panel-bg, @darken); /* Fallback */
  background: fade(darken(@panel-bg, @darken), @alpha);
}

.panel-transparent .panel-body {
  background: @panel-bg; /* Fallback */
  background: fade(@panel-bg, @alpha);
}