// VARIABLES

@alpha:           85%;
@darken:          25%;
@white:           #fff;
@panel-bg:        #fff;
@gridster-bg:     #E6E6E6;
@margin:          25px;

// GENERAL ALIGNMENT & POSITIONING

html, body {
  height: 100%;
}

.fill-height {
  height: 100%;
  overflow-y: hidden;
}

.vertical-center {
  min-height: 100%;  /* Fallback */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.valign-middle {
  vertical-align: middle;
}

.position-bl {
  position: fixed;
  bottom: @margin;
  left: @margin;
}

.position-bl-sm {
  position: absolute;
  bottom: @margin/5;
  left: @margin/5;
}

.position-tr {
  position: fixed;
  top: @margin;
  right: @margin;
}

.position-tr-sm {
  position: absolute;
  top: @margin/5;
  right: @margin/5;
}

.position-tl {
  position: fixed;
  top: @margin;
  left: @margin;
}

.position-tl-sm {
  position: absolute;
  top: @margin/5;
  left: @margin/5;
}

.position-br {
  position: fixed;
  bottom: @margin;
  right: @margin;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.margin-top {
  margin-top: @margin;
}

.margin-top-sm {
  margin-top: @margin/2;
}

.not-visible {
  display: none;
}

.z-top {
  z-index: 9999;
}


// DESIGN ELEMENTS

.drop-shadow {
  text-shadow: 1px 1px 3px #141414;
}

.color-hovered:hover {
  color: darken(@white, @darken);
  cursor: pointer;
}

.text-white {
  color: @white;
}

.label-as-badge {
    border-radius: 1em;
}

.no-underline, .no-underline:hover {
  text-decoration: none;
}

// PANELS

.panel-transparent {
  background: none;
}

.panel-transparent .panel-heading {
  background: darken(@panel-bg, @darken); /* Fallback */
  background: fade(darken(@panel-bg, @darken), @alpha);
}

.panel-transparent .panel-body {
  background: @panel-bg; /* Fallback */
  background: fade(@panel-bg, @alpha);
}

// GRIDSTER AND WIDGETS

.gridster ul li {
  list-style: none;
  cursor: default;
}

.gridster ul li:hover,
.hovered {
  background: @gridster-bg; /* Fallback */
  background: fade(@gridster-bg, @alpha/2);
}

.gs-w span.display-hovered {
  display: none;
}

.gs-w:hover span.display-hovered {
  display: inline-block;
}

// SIGNUP WIZARD

.no-shadow-plus-border {
  border-bottom: 3px solid #fff;
  box-shadow: none;
}

.greetings-name {
  border: 0;
  height: auto;
  background: 0;
  font-size: 54px;
  .no-shadow-plus-border
}

input.greetings-name:focus{
  .no-shadow-plus-border
}

// QUOTE WIDGET

// .quote { width: 100%; margin: 0; padding: 13px 0 1px; text-align: center; }

.quote p { 
  line-height: 1.25em;
  transition: all 0.2s ease-out;
}

.quote .body {
  transition-delay: 0.2s;
}

.quote:hover .body { 
  -moz-transform: translateY(-0.3em);
  -webkit-transform: translateY(-0.3em);
  -ms-transform: translateY(-0.3em);
  -o-transform: translateY(-0.3em);
  transform: translateY(-0.3em);
  transition-delay: 0s;
}

.quote .source {
  position: relative; 
  top: -19px; 
  opacity: 0;
  transition-delay: 0s; 
}
.quote:hover .source {
  opacity: 1; 
  -moz-transform: translateY(-0.2em);
  -webkit-transform: translateY(-0.2em);
  -ms-transform: translateY(-0.2em);
  -o-transform: translateY(-0.2em);
  transform: translateY(-0.2em);
  transition-delay: 0.2s;
}

// IMPORTS
@import "stripe-button.less";