.vertical-center {
  min-height: 100%;
  /* Fallback */
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.panel-transparent {
  background: none;
}
.panel-transparent .panel-heading {
  background: #bfbfbf;
  /* Fallback */
  background: rgba(191, 191, 191, 0.85);
}
.panel-transparent .panel-body {
  background: #ffffff;
  /* Fallback */
  background: rgba(255, 255, 255, 0.85);
}
