html,
body {
  height: 100%;
}
.fill-height {
  height: 100%;
  overflow-y: hidden;
}
.vertical-center {
  min-height: 100%;
  /* Fallback */
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.valign-middle {
  vertical-align: middle;
}
.position-bl {
  position: fixed;
  bottom: 25px;
  left: 25px;
}
.position-bl-sm {
  position: fixed;
  bottom: 5px;
  left: 5px;
}
.position-tr {
  position: fixed;
  top: 25px;
  right: 25px;
}
.position-tr-sm {
  position: fixed;
  top: 5px;
  right: 5px;
}
.position-tl {
  position: fixed;
  top: 25px;
  left: 25px;
}
.position-br {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.margin-top {
  margin-top: 25px;
}
.margin-top-sm {
  margin-top: 12.5px;
}
.not-visible {
  display: none;
}
.z-top {
  z-index: 9999;
}
.drop-shadow {
  text-shadow: 1px 1px 3px #141414;
}
.color-hovered:hover {
  color: #bfbfbf;
  cursor: pointer;
}
.text-white {
  color: #ffffff;
}
.label-as-badge {
  border-radius: 1em;
}
.panel-transparent {
  background: none;
}
.panel-transparent .panel-heading {
  background: #bfbfbf;
  /* Fallback */
  background: rgba(191, 191, 191, 0.85);
}
.panel-transparent .panel-body {
  background: #ffffff;
  /* Fallback */
  background: rgba(255, 255, 255, 0.85);
}
.gridster ul li {
  list-style: none;
  cursor: default;
}
.gridster ul li:hover,
.hovered {
  background: #e6e6e6;
  /* Fallback */
  background: rgba(230, 230, 230, 0.425);
}
.gs-w span.display-hovered {
  display: none;
}
.gs-w:hover span.display-hovered {
  display: inline-block;
}
.no-shadow-plus-border {
  border-bottom: 3px solid #fff;
  box-shadow: none;
}
.greetings-name {
  border: 0;
  height: auto;
  background: 0;
  font-size: 54px;
  border-bottom: 3px solid #fff;
  box-shadow: none;
}
input.greetings-name:focus {
  border-bottom: 3px solid #fff;
  box-shadow: none;
}
.quote p {
  line-height: 1.25em;
  transition: all 0.2s ease-out;
}
.quote .body {
  transition-delay: 0.2s;
}
.quote:hover .body {
  -moz-transform: translateY(-0.3em);
  -webkit-transform: translateY(-0.3em);
  -ms-transform: translateY(-0.3em);
  -o-transform: translateY(-0.3em);
  transform: translateY(-0.3em);
  transition-delay: 0s;
}
.quote .source {
  position: relative;
  top: -19px;
  opacity: 0;
  transition-delay: 0s;
}
.quote:hover .source {
  opacity: 1;
  -moz-transform: translateY(0.1em);
  -webkit-transform: translateY(0.1em);
  -ms-transform: translateY(0.1em);
  -o-transform: translateY(0.1em);
  transform: translateY(0.1em);
  transition-delay: 0.2s;
}
