html,
body {
  height: 100%;
}
.fill-height {
  height: 100%;
  overflow-y: hidden;
}
.vertical-center {
  min-height: 100%;
  /* Fallback */
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.position-bl {
  position: fixed;
  bottom: 25px;
  left: 25px;
}
.position-bl-sm {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.position-tr {
  position: absolute;
  top: 25px;
  right: 25px;
}
.position-tr-sm {
  position: absolute;
  top: 5px;
  right: 5px;
}
.position-tl {
  position: absolute;
  top: 25px;
  left: 25px;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.not-visible {
  display: none;
}
.z-top {
  z-index: 9999;
}
.drop-shadow {
  text-shadow: 1px 1px 3px #141414;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #333;
}
.color-hovered:hover {
  color: #bfbfbf;
}
.cursor-pointer {
  cursor: pointer;
}
.text-white {
  color: #ffffff;
}
.panel-transparent {
  background: none;
}
.panel-transparent .panel-heading {
  background: #bfbfbf;
  /* Fallback */
  background: rgba(191, 191, 191, 0.85);
}
.panel-transparent .panel-body {
  background: #ffffff;
  /* Fallback */
  background: rgba(255, 255, 255, 0.85);
}
.gridster ul li {
  list-style: none;
  cursor: default;
}
.gridster ul li:hover,
.gridster ul li.hovered {
  background: #e6e6e6;
  /* Fallback */
  background: rgba(230, 230, 230, 0.425);
}
.gs-w span.display-hovered {
  display: none;
}
.gs-w:hover span.display-hovered {
  display: inline-block;
}
.no-shadow-plus-border {
  border-bottom: 3px solid #fff;
  box-shadow: none;
}
.greetings-name {
  border: 0;
  height: auto;
  background: 0;
  font-size: 54px;
  border-bottom: 3px solid #fff;
  box-shadow: none;
}
input.greetings-name:focus {
  border-bottom: 3px solid #fff;
  box-shadow: none;
}
